# ignore all files and directories
*

# include only the following
!docs/
!docs/*
!firedm/
!firedm/*.py
!firedm/plugins/
!firedm/plugins/*.py
!ChangeLog.txt
!contributors.md
!BASELINE_AUDIT.md
!AGENTS.md
!LICENSE
!firedm.py
!build-release.bat
!README.md
!requirements.txt
!setup.py
!pyproject.toml
!todo.md
!.gitignore
!.gitattributes
!scripts/
!bootstrap/
!bootstrap/*
!scripts/utils.py
!scripts/updatepkg.py
!scripts/exe_build/
!scripts/exe_build/exe-fullbuild.py
!scripts/exe_build/exe-quickbuild.py
!scripts/appimage/
!scripts/appimage/appimage-fullbuild.sh
!scripts/appimage/appimage-quickbuild.py
!scripts/appimage/run.py
!scripts/firedm-win.spec
!scripts/windows-build.ps1
!scripts/*.py
!artifacts/
!artifacts/**
!icons/
!icons/48x48.png
!icons/48_32_16.ico
!tests/
!tests/*.py
!.github/
!.github/workflows/
!.github/workflows/*
